<% if @range == 'User' %>
    <h3>Users search for "<%= @word %>"</h3>
  <%= render 'users/index', users: @searches %>
<% elsif @range == 'Book' %>
    <h3>Books search for "<%= @word %>"</h3>
  <%= render 'books/index', books: @searches %>
<% end %>